{% extends 'base.html' %}
{% load static %}
{% load cores_util_tags %}
{% load post_tags %}

{% block title %}Homepage{% endblock %}

{% block content %}
<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <!-- SECTION BANNER ICON -->
        <img class="section-banner-icon" src="{% static 'img/banner/forums-icon.png' %}" alt="forums-icon">
        <!-- /SECTION BANNER ICON -->

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Forums</p>
        <!-- /SECTION BANNER TITLE -->

        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Talk about anything! Gaming, music, comics and more!</p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    <div class="section">
        {% include 'vikinger/messages_alert.html' %}
    </div>

    <!-- SECTION FILTERS BAR -->
    <div class="section-filters-bar v6">
        <!-- SECTION FILTERS BAR ACTIONS -->
        <div class="section-filters-bar-actions">
            <!-- FORM -->
            <form class="form" method="GET" action="">
                <!-- FORM ITEM -->
                <div class="form-item split">
                    <!-- FORM INPUT -->
                    <div class="form-input small">
                        <label for="events-search">Search threads</label>
                        <input type="text" name="threads_search">
                    </div>
                    <!-- /FORM INPUT -->

                    <!-- BUTTON -->
                    <button type="submit" class="button primary">
                        <!-- ICON MAGNIFYING GLASS -->
                        <svg class="icon-magnifying-glass">
                            <use xlink:href="#svg-magnifying-glass"></use>
                        </svg>
                        <!-- /ICON MAGNIFYING GLASS -->
                    </button>
                    <!-- /BUTTON -->
                </div>
                <!-- /FORM ITEM -->
            </form>
            <!-- /FORM -->
        </div>
        <!-- /SECTION FILTERS BAR ACTIONS -->

        {% if request.user.is_authenticated %}
        <!-- SECTION FILTERS BAR ACTIONS -->
        <div class="section-filters-bar-actions">
            <!-- BUTTON -->
            <p class="button secondary popup-event-creation-trigger">+ Start thread</p>
            <!-- /BUTTON -->
        </div>
        <!-- /SECTION FILTERS BAR ACTIONS -->
        {% endif %}
    </div>
    <!-- /SECTION FILTERS BAR -->

    <!-- TABLE -->
    <div class="table table-forum-discussion">
        <!-- TABLE HEADER -->
        <div class="table-header">
            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">Discussion</p>
                <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->

            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column centered padded-medium">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">Voices</p>
                <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->

            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column centered padded-medium">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">Replies</p>
                <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->

            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column padded-big-left">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">Activity</p>
                <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->
        </div>
        <!-- /TABLE HEADER -->

        <!-- TABLE BODY -->
        <div class="table-body">
            {% for thread in page_obj %}
            {% last_post thread as post %}
            <!-- TABLE ROW -->
            <div class="table-row mid">
                <!-- TABLE COLUMN -->
                <div class="table-column">
                    <!-- DISCUSSION PREVIEW -->
                    <div class="discussion-preview {% if thread.pin %}pinned{% endif %}">
                        <!-- DISCUSSION PREVIEW TITLE -->
                        <a class="discussion-preview-title" href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
                        <!-- /DISCUSSION PREVIEW TITLE -->

                        {% include 'cores/_pagination/floaty_pagination.html' with page_obj=page_obj %}

                        <!-- DISCUSSION PREVIEW META -->
                        <div class="discussion-preview-meta">
                            <!-- DISCUSSION PREVIEW META TEXT -->
                            <p class="discussion-preview-meta-text">Started by</p>
                            <!-- /DISCUSSION PREVIEW META TEXT -->

                            <!-- USER AVATAR -->
                            <a class="user-avatar micro no-border" href="profile-timeline.html">
                                <!-- USER AVATAR CONTENT -->
                                <div class="user-avatar-content">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-image-18-20" data-src="{{ thread.starter.avatar }}"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR CONTENT -->
                            </a>
                            <!-- /USER AVATAR -->

                            <!-- DISCUSSION PREVIEW META TEXT -->
                            <p class="discussion-preview-meta-text">
                                <a href="profile-timeline.html">{{ thread.starter.get_display_name }}</a> {{ thread.created | time_ago }}
                            </p>
                            <!-- /DISCUSSION PREVIEW META TEXT -->
                        </div>
                        <!-- /DISCUSSION PREVIEW META -->
                    </div>
                    <!-- /DISCUSSION PREVIEW -->
                </div>
                <!-- /TABLE COLUMN -->

                <!-- TABLE COLUMN -->
                <div class="table-column centered padded-medium">
                    <!-- TABLE TITLE -->
                    <p class="table-title">398</p>
                    <!-- /TABLE TITLE -->
                </div>
                <!-- /TABLE COLUMN -->

                <!-- TABLE COLUMN -->
                <div class="table-column centered padded-medium">
                    <!-- TABLE TITLE -->
                    <p class="table-title">{{ thread.posts.count | pretty_count }}</p>
                    <!-- /TABLE TITLE -->
                </div>
                <!-- /TABLE COLUMN -->

                <!-- TABLE COLUMN -->
                <div class="table-column padded-big-left">
                    <!-- USER STATUS -->
                    {% if post is not None %}
                    <div class="user-status">
                        <!-- USER STATUS AVATAR -->
                        <a class="user-status-avatar" href="profile-timeline.html">
                            <!-- USER AVATAR -->
                            <div class="user-avatar small no-outline {{ post.user.online }}">
                                <!-- USER AVATAR CONTENT -->
                                <div class="user-avatar-content">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-image-30-32" data-src="{{ post.user.avatar }}"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR CONTENT -->

                                <!-- USER AVATAR PROGRESS -->
                                <div class="user-avatar-progress">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-progress-40-44"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR PROGRESS -->

                                <!-- USER AVATAR PROGRESS BORDER -->
                                <div class="user-avatar-progress-border">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-border-40-44"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR PROGRESS BORDER -->

                                <!-- USER AVATAR BADGE -->
                                <div class="user-avatar-badge">
                                    <!-- USER AVATAR BADGE BORDER -->
                                    <div class="user-avatar-badge-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BADGE BORDER -->

                                    <!-- USER AVATAR BADGE CONTENT -->
                                    <div class="user-avatar-badge-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-dark-16-18"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BADGE CONTENT -->

                                    <!-- USER AVATAR BADGE TEXT -->
                                    <p class="user-avatar-badge-text">{{ post.user.post_count | length }}</p>
                                    <!-- /USER AVATAR BADGE TEXT -->
                                </div>
                                <!-- /USER AVATAR BADGE -->
                            </div>
                            <!-- /USER AVATAR -->
                        </a>
                        <!-- /USER STATUS AVATAR -->

                        <!-- USER STATUS TITLE -->
                        <p class="user-status-title">
                            <a class="bold" href="profile-timeline.html">{{ post.user.get_display_name }}</a>
                        </p>
                        <!-- /USER STATUS TITLE -->

                        <!-- USER STATUS TEXT -->
                        <p class="user-status-text small">{{ post.created | time_ago }}</p>
                        <!-- /USER STATUS TEXT -->

                    </div>
                    <!-- /USER STATUS -->
                    {% else %}
                    <p class="user-status-text small">No posts yet</p>
                    {% endif %}
                </div>
                <!-- /TABLE COLUMN -->
            </div>
            <!-- /TABLE ROW -->
            {% endfor %}
        </div>
        <!-- /TABLE BODY -->
    </div>
    <!-- /TABLE -->

    {% include 'cores/_pagination/pagination_v1.html' with page=page_obj items='threads' %}

</div>
<!-- /CONTENT GRID -->

<!-- POPUP BOX -->
<div class="popup-box small popup-event-creation">
    <!-- POPUP CLOSE BUTTON -->
    <div class="popup-close-button popup-event-creation-trigger">
        <!-- POPUP CLOSE BUTTON ICON -->
        <svg class="popup-close-button-icon icon-cross">
            <use xlink:href="#svg-cross"></use>
        </svg>
        <!-- /POPUP CLOSE BUTTON ICON -->
    </div>
    <!-- /POPUP CLOSE BUTTON -->

    <!-- POPUP BOX TITLE -->
    <p class="popup-box-title">+ Add New topic</p>
    <!-- /POPUP BOX TITLE -->

    <!-- FORM -->
    <form class="form" method="POST" action="{% url 'sleekforum:home:home' %}">
        {% csrf_token %}
        <!-- FORM ROW -->
        <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
                <!-- FORM SELECT -->
                <div class="form-select">
                    <label for="category">Category</label>
                    {{ form.category }}
                    <!-- FORM SELECT ICON -->
                    <svg class="form-select-icon icon-small-arrow">
                        <use xlink:href="#svg-small-arrow"></use>
                    </svg>
                    <!-- /FORM SELECT ICON -->
                </div>
                <small class="text-info">{{ form.category.help_text }}</small>
                <small class="text-danger">{{ form.category.errors }}</small>
                <!-- /FORM SELECT -->
            </div>
            <!-- /FORM ITEM -->
        </div>
        <!-- /FORM ROW -->

        <!-- FORM ROW -->
        <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                    <label for="title">Thread Title</label>
                    {{ form.title }}
                </div>
                <small class="text-info">{{ form.title.help_text }}</small>
                <small class="text-danger">{{ form.title.errors }}</small>
                <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
        </div>
        <!-- /FORM ROW -->

        <!-- FORM ROW -->
        <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small">
                    <label for="event-description">Contents</label>
                    <textarea id="event-description" name="{{ form.content.name }}">{{ form.content.value }}</textarea>
                </div>
                <small class="text-danger">{{ form.content.errors }}</small>
                <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
        </div>
        <!-- /FORM ROW -->

        <!-- FORM ROW -->
        <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item split join-on-mobile medium">
                <!-- FORM SELECT -->
                <div class="form-select">
                    <label for="prefix">Prefix</label>
                    {{ form.prefix }}
                    <!-- FORM SELECT ICON -->
                    <svg class="form-select-icon icon-small-arrow">
                        <use xlink:href="#svg-small-arrow"></use>
                    </svg>
                    <!-- /FORM SELECT ICON -->
                </div>
                <!-- /FORM SELECT -->

                <!-- FORM SELECT -->
                <div class="form-select">
                    <label for="Tags">Tags</label>
                    {{ form.tags }}
                    <small class="text-info">{{ form.tags.help_text }}</small>
                    <small class="text-danger">{{ form.tags.errors }}</small>
                </div>
                <!-- /FORM SELECT -->
            </div>
            <!-- /FORM ITEM -->
        </div>
        <!-- /FORM ROW -->

        <!-- POPUP BOX ACTIONS -->
        <div class="popup-box-actions medium void">
            <!-- POPUP BOX ACTION -->
            <button type="submit" class="popup-box-action full button secondary">Create thread!</button>
            <!-- /POPUP BOX ACTION -->
        </div>
        <!-- /POPUP BOX ACTIONS -->
    </form>
    <!-- /FORM -->
</div>
<!-- /POPUP BOX -->


{% endblock %}