{% load static %}

<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<!-- page loader -->
<script src="{% static 'js/utils/app.js' %}"></script>
<!-- page loader -->
<script src="{% static 'js/utils/page-loader.js' %}"></script>
<!-- simplebar -->
<script src="{% static 'js/vendor/simplebar.min.js' %}"></script>
<!-- liquidify -->
<script src="{% static 'js/utils/liquidify.js' %}"></script>
<!-- XM_Plugins -->
<script src="{% static 'js/vendor/xm_plugins.min.js' %}"></script>
<!-- global.hexagons -->
<script src="{% static 'js/global/global.hexagons.js' %}"></script>
<!-- global.tooltips -->
<script src="{% static 'js/global/global.tooltips.js' %}"></script>
<!-- global.popups -->
<script src="{% static 'js/global/global.popups.js' %}"></script>
<!-- global.accordions -->
<script src="{% static 'js/global/global.accordions.js' %}"></script>
<script src="{% static 'js/global/datepicker.js' %}"></script>
<!-- header -->
<script src="{% static 'js/header/header.js' %}"></script>
<!-- sidebar -->
<script src="{% static 'js/sidebar/sidebar.js' %}"></script>
<!-- content -->
<script src="{% static 'js/content/content.js' %}"></script>
<!-- form.utils -->
<script src="{% static 'js/form/form.utils.js' %}"></script>
<!-- SVG icons -->
<script src="{% static 'js/utils/svg-loader.js' %}"></script>
<!-- Date picker -->
{% include '_widgets/js/datepickerjs.html' %}