{% extends 'base.html' %}
{% load static %}

{% block title %}Contact us | {{ block.super }}{% endblock %}

{% block content %}
<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <!-- SECTION BANNER ICON -->
        <img class="section-banner-icon" src="{% static 'img/banner/events-icon.png' %}" alt="events-icon">
        <!-- /SECTION BANNER ICON -->

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Contact us</p>
        <!-- /SECTION BANNER TITLE -->

        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Kindly reach out to us, we appreciate your message</p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    <!-- SECTION HEADER -->
    <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Kindly reach out!</p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title">Send us a message</h2>
            <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->

    <!-- GRID COLUMN -->
    <!-- WIDGET BOX -->
    <div class="widget-box">
        <!-- WIDGET BOX TITLE -->
        <p class="widget-box-title">
            {% include 'vikinger/messages_alert.html' %}
        </p>
        <!-- /WIDGET BOX TITLE -->

        <!-- WIDGET BOX STATUS -->
        <div class="widget-box-status">
            <!-- WIDGET BOX STATUS CONTENT -->
            <div class="widget-box-status-content">
                <!-- FORM -->
                <form class="form" method="POST">
                    {% csrf_token %}
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="firstname">First name</label>
                                {{ form.firstname }}
                            </div>
                            <small class="text-info">{{ form.firstname.help_text }}</small>
                            <small class="text-danger">{{ form.firstname.errors }}</small>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->

                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="lastname">Last name</label>
                                {{ form.lastname }}
                            </div>
                            <small class="text-info">{{ form.lastname.help_text }}</small>
                            <small class="text-danger">{{ form.lastname.errors }}</small>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="subject">Subject</label>
                                {{ form.subject }}
                                <small class="text-info">{{ form.subject.help_text }}</small>
                                <small class="text-danger">{{ form.subject.errors }}</small>
                            </div>

                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="email">Your E-mail</label>
                                {{ form.email }}
                                <small class="text-info">{{ form.email.help_text }}</small>
                                <small class="text-danger">{{ form.email.errors }}</small>
                            </div>

                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->

                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="captcha">{{ form.captcha.label }}</label>
                                {{ form.captcha }}
                                <small class="text-info">{{ form.captcha.help_text }}</small>
                                <small class="text-danger">{{ form.captcha.errors }}</small>
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small mid-textarea active">
                                <label for="message">Message</label>
                                {{ form.message }}
                                <small class="text-info">{{ form.message.help_text }}</small>
                                <small class="text-danger">{{ form.message.errors }}</small>
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row split">

                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- BUTTON -->
                            <button type="submit" class="button full primary">Send Email!</button>
                            <!-- /BUTTON -->
                        </div>
                        <!-- /FORM ITEM -->

                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- BUTTON -->
                            <a class="button full info small-space" href="">Discard</a>
                            <!-- /BUTTON -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                </form>
                <!-- /FORM -->
            </div>
            <!-- /WIDGET BOX STATUS CONTENT -->
        </div>
        <!-- /WIDGET BOX STATUS -->
    </div>
    <!-- /WIDGET BOX -->
    <!-- /GRID COLUMN -->

</div>
{% endblock %}