{% extends 'base.html' %}
{% load static %}

{% block title %}Search results for {{ search_query }}{% endblock %}

{% block content %}
<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <!-- SECTION BANNER ICON -->
        <img class="section-banner-icon" src="{% static 'img/banner/forums-icon.png' %}" alt="forums-icon">
        <!-- /SECTION BANNER ICON -->

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Search</p>
        <!-- /SECTION BANNER TITLE -->

        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Result page for in category search entries!</p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    {% if search_query is not None %}
    <!-- SECTION HEADER -->
    <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">
                Showing
                {{ page_obj.start_index }} - {{ page_obj.end_index }} of total {{ page_obj.paginator.count }} in {{ category | capfirst }}
            </p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title">Search results for {{ search_query }}</h2>
            <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->
    </div>
    {% endif %}

    <!-- SECTION FILTERS BAR -->
    <div class="section-filters-bar v7">
        <!-- SECTION FILTERS BAR ACTIONS -->
        <div class="section-filters-bar-actions">
            <!-- SECTION FILTERS BAR INFO -->
            <div class="section-filters-bar-info">
                <!-- SECTION FILTERS BAR TITLE -->
                <p class="section-filters-bar-title">Search</p>
            </div>
            <!-- /SECTION FILTERS BAR INFO -->
        </div>
        <!-- /SECTION FILTERS BAR ACTIONS -->

        <!-- SECTION FILTERS BAR ACTIONS -->
        <div class="section-filters-bar-actions">
            <!-- FORM -->
            <form class="form">
                <!-- FORM ITEM -->
                <div class="form-item split">
                    <!-- FORM INPUT -->
                    <div class="form-input small active">
                        <label for="forum-search">Search in {{ category | capfirst }}</label>
                        <input type="text" id="forum-search" name="search">
                        <input type="hidden" value="{{ category }}" name="category" />
                    </div>
                    <!-- /FORM INPUT -->

                    <!-- BUTTON -->
                    <button class="button primary">
                        <!-- ICON MAGNIFYING GLASS -->
                        <svg class="icon-magnifying-glass">
                            <use xlink:href="#svg-magnifying-glass"></use>
                        </svg>
                        <!-- /ICON MAGNIFYING GLASS -->
                    </button>
                    <!-- /BUTTON -->
                </div>
                <!-- /FORM ITEM -->
            </form>
            <!-- /FORM -->
        </div>
        <!-- /SECTION FILTERS BAR ACTIONS -->
    </div>
    <!-- /SECTION FILTERS BAR -->
    {% if page_obj %}
    {% include 'threads/_includes/thread_list.html' with threads=page_obj %}
    {% else %}
    <!-- GRID -->
    <div class="grid centered">
        <!-- ACCOUNT STAT BOX -->
        <div class="account-stat-box account-stat-active-users">
            <!-- ACCOUNT STAT BOX ICON WRAP -->
            <div class="account-stat-box-icon-wrap">
                <!-- ACCOUNT STAT BOX ICON -->
                <svg class="account-stat-box-icon icon-return">
                    <use xlink:href="#svg-return"></use>
                </svg>
                <!-- /ACCOUNT STAT BOX ICON -->
            </div>
            <!-- /ACCOUNT STAT BOX ICON WRAP -->

            <!-- ACCOUNT STAT BOX TITLE -->
            <p class="account-stat-box-title">No results found</p>
            <!-- /ACCOUNT STAT BOX TITLE -->

            <!-- ACCOUNT STAT BOX TEXT -->
            <p class="account-stat-box-text">There are no search results returned</p>
            <!-- /ACCOUNT STAT BOX TEXT -->
        </div>
        <!-- /ACCOUNT STAT BOX -->
    </div>
    <!-- /GRID -->
    {% endif %}

</div>
<!-- /CONTENT GRID -->
{% endblock %}