<nav class="navigation">
    <!-- MENU MAIN -->
    <ul class="menu-main">
        <!-- MENU MAIN ITEM -->
        <li class="menu-main-item">
            <!-- MENU MAIN ITEM LINK -->
            <a class="menu-main-item-link" href="{% url 'sleekforum:threads:newest_threads' %}">Latest</a>
            <!-- /MENU MAIN ITEM LINK -->
        </li>

        <!-- MENU MAIN ITEM -->
        <li class="menu-main-item">
            <!-- MENU MAIN ITEM LINK -->
            <a class="menu-main-item-link" href="{% url 'sleekforum:violations:list_category' %}">Rules</a>
            <!-- /MENU MAIN ITEM LINK -->
        </li>
    </ul>
</nav>