{% extends 'users/profile/_includes/profile_base.html' %}
{% load cores_util_tags %}
{% load post_tags %}
{% load reaction_tags %}
{% load user_tags %}

{% block title %}{{ block.super }} | Profile{% endblock %}

{% block profile_body %}
<!-- GRID -->
<div class="grid grid-3-6-3">
    <!-- GRID COLUMN -->
    <div class="grid-column">
        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">About
                {% if request.user == user %}Me{% else %}{{ user.get_display_name }}{% endif %}
            </p>
            <!-- /WIDGET BOX TITLE -->

            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- PARAGRAPH -->
                <p class="paragraph">
                    {{ user.signature }}
                </p>
                <!-- /PARAGRAPH -->

                <!-- INFORMATION LINE LIST -->
                <div class="information-line-list">

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">State</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.state }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Country</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.country }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Age</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.dob | age_calculator }} years</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Web</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text"><a href="{{ user.website }}">{{ user.website | urlize }}</a></p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->
                </div>
                <!-- /INFORMATION LINE LIST -->
            </div>
            <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->

        <!-- WIDGET BOX -->
        <div class="widget-box">

            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Personal Info</p>
            <!-- /WIDGET BOX TITLE -->

            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- INFORMATION LINE LIST -->
                <div class="information-line-list">
                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Email</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.email }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Profile name</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.get_display_name }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Username</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.username }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Birthday</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.dob | date:'jS, F' }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->
                </div>
                <!-- /INFORMATION LINE LIST -->
            </div>
            <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->

    </div>
    <!-- /GRID COLUMN -->

    <!-- GRID COLUMN -->
    <div class="grid-column">
        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX SETTINGS -->
            <div class="widget-box-settings">
                <!-- POST SETTINGS WRAP -->
                <div class="post-settings-wrap">
                    <!-- POST SETTINGS -->
                    <div class="post-settings widget-box-post-settings-dropdown-trigger">
                        <!-- POST SETTINGS ICON -->
                        <svg class="post-settings-icon icon-more-dots">
                            <use xlink:href="#svg-more-dots"></use>
                        </svg>
                        <!-- /POST SETTINGS ICON -->
                    </div>
                    <!-- /POST SETTINGS -->

                    <!-- SIMPLE DROPDOWN -->
                    <div class="simple-dropdown widget-box-post-settings-dropdown">
                        <!-- SIMPLE DROPDOWN LINK -->
                        <p class="simple-dropdown-link">Widget Settings</p>
                        <!-- /SIMPLE DROPDOWN LINK -->
                    </div>
                    <!-- /SIMPLE DROPDOWN -->
                </div>
                <!-- /POST SETTINGS WRAP -->
            </div>
            <!-- /WIDGET BOX SETTINGS -->

            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Interests</p>
            <!-- /WIDGET BOX TITLE -->

            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- INFORMATION BLOCK LIST -->
                <div class="information-block-list">
                    <!-- INFORMATION BLOCK -->
                    <div class="information-block">
                        <!-- INFORMATION BLOCK TITLE -->
                        <p class="information-block-title">Favourite TV Shows</p>
                        <!-- /INFORMATION BLOCK TITLE -->

                        <!-- INFORMATION BLOCK TEXT -->
                        <p class="information-block-text">Breaking Good, RedDevil, People of Interest, The Running
                            Dead, Found, American Guy, The Last Windbender, Game of Wars.</p>
                        <!-- /INFORMATION BLOCK TEXT -->
                    </div>
                    <!-- /INFORMATION BLOCK -->

                    <!-- INFORMATION BLOCK -->
                    <div class="information-block">
                        <!-- INFORMATION BLOCK TITLE -->
                        <p class="information-block-title">Favourite Music Bands / Artists</p>
                        <!-- /INFORMATION BLOCK TITLE -->

                        <!-- INFORMATION BLOCK TEXT -->
                        <p class="information-block-text">Iron Maid, DC/AC, Megablow, Kung Fighters, System of a
                            Revenge, Rammstown.</p>
                        <!-- /INFORMATION BLOCK TEXT -->
                    </div>
                    <!-- /INFORMATION BLOCK -->

                    <!-- INFORMATION BLOCK -->
                    <div class="information-block">
                        <!-- INFORMATION BLOCK TITLE -->
                        <p class="information-block-title">Favourite Movies</p>
                        <!-- /INFORMATION BLOCK TITLE -->

                        <!-- INFORMATION BLOCK TEXT -->
                        <p class="information-block-text">The Revengers Saga, The Scarred Wizard and the Fire Crown,
                            Crime Squad, Metal Man, The Dark Rider, Watchers, The Impossible Heist.</p>
                        <!-- /INFORMATION BLOCK TEXT -->
                    </div>
                    <!-- /INFORMATION BLOCK -->

                    <!-- INFORMATION BLOCK -->
                    <div class="information-block">
                        <!-- INFORMATION BLOCK TITLE -->
                        <p class="information-block-title">Favourite Books</p>
                        <!-- /INFORMATION BLOCK TITLE -->

                        <!-- INFORMATION BLOCK TEXT -->
                        <p class="information-block-text">The Crime of the Century, Egiptian Mythology 101, The
                            Scarred Wizard, Lord of the Wings, Amongst Gods, The Oracle, A Tale of Air and
                            Water.</p>
                        <!-- /INFORMATION BLOCK TEXT -->
                    </div>
                    <!-- /INFORMATION BLOCK -->

                    <!-- INFORMATION BLOCK -->
                    <div class="information-block">
                        <!-- INFORMATION BLOCK TITLE -->
                        <p class="information-block-title">Favourite Games</p>
                        <!-- /INFORMATION BLOCK TITLE -->

                        <!-- INFORMATION BLOCK TEXT -->
                        <p class="information-block-text">The First of Us, Assassin’s Squad, Dark Assylum, NMAK16,
                            Last Cause 4, Grand Snatch Auto.</p>
                        <!-- /INFORMATION BLOCK TEXT -->
                    </div>
                    <!-- /INFORMATION BLOCK -->
                </div>
                <!-- /INFORMATION BLOCK LIST -->
            </div>
            <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->

        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX SETTINGS -->
            <div class="widget-box-settings">
                <!-- POST SETTINGS WRAP -->
                <div class="post-settings-wrap">
                    <!-- POST SETTINGS -->
                    <div class="post-settings widget-box-post-settings-dropdown-trigger">
                        <!-- POST SETTINGS ICON -->
                        <svg class="post-settings-icon icon-more-dots">
                            <use xlink:href="#svg-more-dots"></use>
                        </svg>
                        <!-- /POST SETTINGS ICON -->
                    </div>
                    <!-- /POST SETTINGS -->

                    <!-- SIMPLE DROPDOWN -->
                    <div class="simple-dropdown widget-box-post-settings-dropdown">
                        <!-- SIMPLE DROPDOWN LINK -->
                        <p class="simple-dropdown-link">Widget Settings</p>
                        <!-- /SIMPLE DROPDOWN LINK -->
                    </div>
                    <!-- /SIMPLE DROPDOWN -->
                </div>
                <!-- /POST SETTINGS WRAP -->
            </div>
            <!-- /WIDGET BOX SETTINGS -->

            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Jobs &amp; Education</p>
            <!-- /WIDGET BOX TITLE -->

            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- TIMELINE INFORMATION LIST -->
                <div class="timeline-information-list">
                    <!-- TIMELINE INFORMATION -->
                    <div class="timeline-information">
                        <!-- TIMELINE INFORMATION TITLE -->
                        <p class="timeline-information-title">Lead Costume Designer</p>
                        <!-- /TIMELINE INFORMATION TITLE -->

                        <!-- TIMELINE INFORMATION DATE -->
                        <p class="timeline-information-date">2015 - NOW</p>
                        <!-- /TIMELINE INFORMATION DATE -->

                        <!-- TIMELINE INFORMATION TEXT -->
                        <p class="timeline-information-text">Lead Costume Designer for the "Amazzo Costumes" agency.
                            I'm in charge of a ten person group, overseeing all the proyects and talking to
                            potential clients. I also handle some face to face interviews for new candidates.</p>
                        <!-- /TIMELINE INFORMATION TEXT -->
                    </div>
                    <!-- /TIMELINE INFORMATION -->

                    <!-- TIMELINE INFORMATION -->
                    <div class="timeline-information">
                        <!-- TIMELINE INFORMATION TITLE -->
                        <p class="timeline-information-title">Costume Designer</p>
                        <!-- /TIMELINE INFORMATION TITLE -->

                        <!-- TIMELINE INFORMATION DATE -->
                        <p class="timeline-information-date">2013 - 2015</p>
                        <!-- /TIMELINE INFORMATION DATE -->

                        <!-- TIMELINE INFORMATION TEXT -->
                        <p class="timeline-information-text">Costume Designer for the "Jenny Taylors" agency. Was in
                            charge of working side by side with the best designers in order to complete and perfect
                            orders.</p>
                        <!-- /TIMELINE INFORMATION TEXT -->
                    </div>
                    <!-- /TIMELINE INFORMATION -->

                    <!-- TIMELINE INFORMATION -->
                    <div class="timeline-information">
                        <!-- TIMELINE INFORMATION TITLE -->
                        <p class="timeline-information-title">Designer Intern</p>
                        <!-- /TIMELINE INFORMATION TITLE -->

                        <!-- TIMELINE INFORMATION DATE -->
                        <p class="timeline-information-date">2012 - 2013</p>
                        <!-- /TIMELINE INFORMATION DATE -->

                        <!-- TIMELINE INFORMATION TEXT -->
                        <p class="timeline-information-text">Intern for the "Jenny Taylors" agency. Was in charge of
                            the communication with the clients and day-to-day chores.</p>
                        <!-- /TIMELINE INFORMATION TEXT -->
                    </div>
                    <!-- /TIMELINE INFORMATION -->

                    <!-- TIMELINE INFORMATION -->
                    <div class="timeline-information">
                        <!-- TIMELINE INFORMATION TITLE -->
                        <p class="timeline-information-title">The Antique College of Design</p>
                        <!-- /TIMELINE INFORMATION TITLE -->

                        <!-- TIMELINE INFORMATION DATE -->
                        <p class="timeline-information-date">2007 - 2012</p>
                        <!-- /TIMELINE INFORMATION DATE -->

                        <!-- TIMELINE INFORMATION TEXT -->
                        <p class="timeline-information-text">Bachelor of Costume Design in the Antique College. It
                            was a five years intensive career, plus a course about Cosplays. Average: A+</p>
                        <!-- /TIMELINE INFORMATION TEXT -->
                    </div>
                    <!-- /TIMELINE INFORMATION -->
                </div>
                <!-- /TIMELINE INFORMATION LIST -->
            </div>
            <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
    </div>
    <!-- /GRID COLUMN -->

    <!-- GRID COLUMN -->
    <div class="grid-column">
        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Important dates</p>
            <!-- /WIDGET BOX TITLE -->

            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- INFORMATION LINE LIST -->
                <div class="information-line-list">
                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Joined</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.date_created }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Last seen</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.last_seen | time_ago }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Last login</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.last_login }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->

                    <!-- INFORMATION LINE -->
                    <div class="information-line">
                        <!-- INFORMATION LINE TITLE -->
                        <p class="information-line-title">Currently</p>
                        <!-- /INFORMATION LINE TITLE -->

                        <!-- INFORMATION LINE TEXT -->
                        <p class="information-line-text">{{ user.online | upper }}</p>
                        <!-- /INFORMATION LINE TEXT -->
                    </div>
                    <!-- /INFORMATION LINE -->
                </div>
                <!-- /INFORMATION LINE LIST -->
            </div>
            <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->

        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">More Stats</p>
            <!-- /WIDGET BOX TITLE -->

            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- STAT BLOCK LIST -->
                <div class="stat-block-list">

                    <!-- STAT BLOCK -->
                    <div class="stat-block">
                        <!-- STAT BLOCK DECORATION -->
                        <div class="stat-block-decoration">
                            <!-- STAT BLOCK DECORATION ICON -->
                            <svg class="stat-block-decoration-icon icon-status">
                                <use xlink:href="#svg-status"></use>
                            </svg>
                            <!-- /STAT BLOCK DECORATION ICON -->
                        </div>
                        <!-- /STAT BLOCK DECORATION -->

                        <!-- STAT BLOCK INFO -->
                        <div class="stat-block-info">
                            <!-- STAT BLOCK TITLE -->
                            <p class="stat-block-title">Last post update</p>
                            <!-- /STAT BLOCK TITLE -->

                            <!-- STAT BLOCK TEXT -->
                            <p class="stat-block-text">{{ user | user_last_post | time_ago }}</p>
                            <!-- /STAT BLOCK TEXT -->
                        </div>
                        <!-- /STAT BLOCK INFO -->
                    </div>
                    <!-- /STAT BLOCK -->

                    <!-- STAT BLOCK -->
                    <div class="stat-block">
                        <!-- STAT BLOCK DECORATION -->
                        <div class="stat-block-decoration">
                            <!-- STAT BLOCK DECORATION ICON -->
                            <svg class="stat-block-decoration-icon icon-comment">
                                <use xlink:href="#svg-comment"></use>
                            </svg>
                            <!-- /STAT BLOCK DECORATION ICON -->
                        </div>
                        <!-- /STAT BLOCK DECORATION -->

                        <!-- STAT BLOCK INFO -->
                        <div class="stat-block-info">
                            <!-- STAT BLOCK TITLE -->
                            <p class="stat-block-title">Most commented post</p>
                            <!-- /STAT BLOCK TITLE -->

                            <!-- STAT BLOCK TEXT -->
                            <p class="stat-block-text">{{ user.post_count | length }} Comment(s)</p>
                            <!-- /STAT BLOCK TEXT -->
                        </div>
                        <!-- /STAT BLOCK INFO -->
                    </div>
                    <!-- /STAT BLOCK -->

                    <!-- STAT BLOCK -->
                    <div class="stat-block">
                        <!-- STAT BLOCK DECORATION -->
                        <div class="stat-block-decoration">
                            <!-- STAT BLOCK DECORATION ICON -->
                            <svg class="stat-block-decoration-icon icon-thumbs-up">
                                <use xlink:href="#svg-thumbs-up"></use>
                            </svg>
                            <!-- /STAT BLOCK DECORATION ICON -->
                        </div>
                        <!-- /STAT BLOCK DECORATION -->

                        <!-- STAT BLOCK INFO -->
                        <div class="stat-block-info">
                            <!-- STAT BLOCK TITLE -->
                            <p class="stat-block-title">Most liked post</p>
                            <!-- /STAT BLOCK TITLE -->

                            <!-- STAT BLOCK TEXT -->
                            <p class="stat-block-text">{{ user | reactions_by_user:'LIKE' | length }}</p>
                            <!-- /STAT BLOCK TEXT -->
                        </div>
                        <!-- /STAT BLOCK INFO -->
                    </div>
                    <!-- /STAT BLOCK -->
                </div>
                <!-- /STAT BLOCK LIST -->
            </div>
            <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
    </div>
    <!-- /GRID COLUMN -->
</div>
<!-- /GRID -->
{% endblock %}
