{% extends 'users/profile/_includes/profile_base.html' %}
{% load static %}
{% load cores_util_tags %}
<!--{% load post_tags %}-->
<!--{% load reaction_tags %}-->
<!--{% load user_tags %}-->


{% block title %}{{ object.get_display_name | add:'\'s Blogposts' }}{% endblock %}

{% block profile_body %}

<!-- SECTION -->
<section class="section">
    <!-- SECTION HEADER -->
    <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Browse {{ object.get_display_name }}'s</p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title">Blog Posts <span class="highlighted">{{ page_obj.paginator.count }}</span></h2>
            <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->

    <!-- SECTION FILTERS BAR -->
    <div class="section-filters-bar v2">
        <!-- FORM -->
        <form class="form">
            <!-- FORM ITEM -->
            <div class="form-item split medium">
                <!-- FORM SELECT -->
                <div class="form-select">
                    <label for="post-filter-category">Filter By</label>
                    <select id="post-filter-category" name="post_filter_category">
                        <option value="0">Reactions Received</option>
                        <option value="1">Comment Count</option>
                        <option value="2">Share Count</option>
                    </select>
                    <!-- FORM SELECT ICON -->
                    <svg class="form-select-icon icon-small-arrow">
                        <use xlink:href="#svg-small-arrow"></use>
                    </svg>
                    <!-- /FORM SELECT ICON -->
                </div>
                <!-- /FORM SELECT -->

                <!-- FORM SELECT -->
                <div class="form-select">
                    <label for="post-filter-order">Order By</label>
                    <select id="post-filter-order" name="post_filter_order">
                        <option value="0">Highest to Lowest</option>
                        <option value="1">Lowest to Highest</option>
                    </select>
                    <!-- FORM SELECT ICON -->
                    <svg class="form-select-icon icon-small-arrow">
                        <use xlink:href="#svg-small-arrow"></use>
                    </svg>
                    <!-- /FORM SELECT ICON -->
                </div>
                <!-- /FORM SELECT -->

                <!-- FORM SELECT -->
                <div class="form-select">
                    <label for="post-filter-show">Show</label>
                    <select id="post-filter-show" name="post_filter_show">
                        <option value="0">12 Posts per Page</option>
                        <option value="1">24 Posts per Page</option>
                    </select>
                    <!-- FORM SELECT ICON -->
                    <svg class="form-select-icon icon-small-arrow">
                        <use xlink:href="#svg-small-arrow"></use>
                    </svg>
                    <!-- /FORM SELECT ICON -->
                </div>
                <!-- /FORM SELECT -->

                <!-- BUTTON -->
                <button class="button primary">Filter Posts</button>
                <!-- /BUTTON -->
            </div>
            <!-- /FORM ITEM -->
        </form>
        <!-- /FORM -->
    </div>
    <!-- /SECTION FILTERS BAR -->

    <!-- GRID -->
    <div class="grid grid-4-4-4 left">
        {% for article in page_obj %}
        <!-- POST PREVIEW -->
        <div class="post-preview">
            <!-- POST PREVIEW IMAGE -->
            <figure class="post-preview-image liquid">
                <img alt="cover-19" src="{% static 'img/cover/19.jpg' %}">
            </figure>
            <!-- /POST PREVIEW IMAGE -->

            <!-- POST PREVIEW INFO -->
            <div class="post-preview-info fixed-height">
                <!-- POST PREVIEW INFO TOP -->
                <div class="post-preview-info-top">
                    <!-- POST PREVIEW TIMESTAMP -->
                    <p class="post-preview-timestamp">{{ article.date_created }} ({{ article.date_created | time_ago }})</p>
                    <!-- /POST PREVIEW TIMESTAMP -->

                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">{{ article.title }}</p>
                    <!-- /POST PREVIEW TITLE -->
                </div>
                <!-- /POST PREVIEW INFO TOP -->

                <!-- POST PREVIEW INFO BOTTOM -->
                <div class="post-preview-info-bottom">
                    <!-- POST PREVIEW TEXT -->
                    <p class="post-preview-text">{{ article.content | truncatewords:"25" }}</p>
                    <!-- /POST PREVIEW TEXT -->

                    <!-- POST PREVIEW LINK -->
                    <a class="post-preview-link" href="{{ article.get_absolute_url }}">Read more...</a>
                    <!-- /POST PREVIEW LINK -->
                </div>
                <!-- /POST PREVIEW INFO BOTTOM -->
            </div>
            <!-- /POST PREVIEW INFO -->

            {% comment %}
            <!-- CONTENT ACTIONS -->
            <div class="content-actions">
                <!-- CONTENT ACTION -->
                <div class="content-action">
                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE LIST -->
                        <div class="meta-line-list reaction-item-list">
                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img alt="reaction-wow" class="reaction-image reaction-item-dropdown-trigger"
                                     src="img/reaction/wow.png">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img alt="reaction-wow" class="reaction"
                                                                         src="img/reaction/wow.png"> <span
                                            class="bold">Wow</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Neko Bebop</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Nick Grissom</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Sarah Diamond</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Marcus Jhonson</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->

                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img alt="reaction-happy" class="reaction-image reaction-item-dropdown-trigger"
                                     src="img/reaction/happy.png">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img alt="reaction-happy" class="reaction"
                                                                         src="img/reaction/happy.png"> <span
                                            class="bold">Happy</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jett Spiegel</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jane Rodgers</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->

                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img alt="reaction-like" class="reaction-image reaction-item-dropdown-trigger"
                                     src="img/reaction/like.png">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img alt="reaction-like" class="reaction"
                                                                         src="img/reaction/like.png"> <span
                                            class="bold">Like</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Neko Bebop</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Nick Grissom</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Sarah Diamond</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jett Spiegel</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Marcus Jhonson</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jane Rodgers</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><span class="bold">and 7 more...</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->
                        </div>
                        <!-- /REACTION ITEM LIST -->

                        <!-- META LINE TEXT -->
                        <p class="meta-line-text">19</p>
                        <!-- /META LINE TEXT -->
                    </div>
                    <!-- /META LINE -->
                </div>
                <!-- /CONTENT ACTION -->

                <!-- CONTENT ACTION -->
                <div class="content-action">
                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE LINK -->
                        <a class="meta-line-link" href="profile-post.html#comments">5 Comments</a>
                        <!-- /META LINE LINK -->
                    </div>
                    <!-- /META LINE -->

                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE TEXT -->
                        <p class="meta-line-text">0 Shares</p>
                        <!-- /META LINE TEXT -->
                    </div>
                    <!-- /META LINE -->
                </div>
                <!-- /CONTENT ACTION -->
            </div>
            <!-- /CONTENT ACTIONS -->
            {% endcomment %}

        </div>
        <!-- /POST PREVIEW -->
        {% empty %}
        {% if request.user == object %}
        You do not have any blog post yet
        {% else %}
        {{ object.get_display_name }} does not have any created blog post yet
        {% endif %}
        {% endfor %}
    </div>
    <!-- /GRID -->
</section>
<!-- /SECTION -->

{% endblock %}
